<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zadaniezajecia2"
        tools:targetApi="31">
        <activity
            android:name=".MyApplication"
            android:exported="false"/>
        <activity
            android:name=".AddYourMealActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.MuffinsActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.FriesActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.RollsActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.SnacksActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.SalamonActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.FrittersActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.AToastActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.LunchActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.SpaghettiActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.TartActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.PancakesActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.DinnerActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.BakedEggActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.SmoothieActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.OmeletteActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.BreakfastActivity"
            android:exported="false"/>
      <activity
            android:name=".ExercisesPanel.LegsActivity"
            android:exported="false"/>
        <activity
            android:name=".ExercisesPanel.BackActivity"
            android:exported="false"/>
        <activity
            android:name=".ExercisesPanel.AbsActivity"
            android:exported="false"/>
        <activity
            android:name=".ExercisesPanel.ChestActivity"
            android:exported="false"/>
        <activity
            android:name=".ExercisesPanel.ArmsActivity"
            android:exported="false"/>
        <activity
            android:name=".MealsPanel.MealsPanel"
            android:exported="false"/>
        <activity
            android:name=".ExercisesPanel.MainActivityGymExercises"
            android:exported="false"/>
        <activity
            android:name=".CaloriesCalculatorActivity"
            android:exported="false"/>
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".BmiActivity"
            android:exported="false" />
        <activity
            android:name=".GeneralPanelActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>